p,li {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    line-height: 2;
    letter-spacing: 1px;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 20px 0 0 0;

}

h2 {
    font-size: 40px;
    text-align: center;
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0px 0 20px 0;
}

html {
    background-color: white;
}

body {
    width: 1000px;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    padding: 0 20px 20px 20px ;
    border: 1px solid white;
    font-family: 'Karla', sans-serif;

}

video {
    display: block;
    margin: 20px auto;
    height: 500px;
}

button {
    display: none;
    margin: 40px auto;
    font-family: inherit;
    background-color: white;
    padding: 15px 32px;
    text-align: center;
    border: 3px solid black;
    font-size: 2em;
    color: black;
    transition-duration: 0.4s;
    border-radius: 5px;

}

button:hover {
    background-color: black;
    color: white;

}

button:active {
    transform: translateY(4px)
    
}

#preload {
    display: none;
}

.hidden_video {
    width: 1px;
    height: 1px;
    opacity: 0;
}

.shown_video {
    opacity: 1;
}

#myVideo, #myVideo2, #myVideo3, #myVideo4 {
    position: absolute;
    margin: 50px auto 50px auto;
    left: 1em;
    right: 1em;
}

#videolist {
    text-align: center;
    height: 550px;
}